In [1]:
import pandas as pd
from openbb_terminal.sdk import openbb

# You can import any individual module like this:

op = openbb.stocks.options

In [2]:
dir(op)

['chains',
 'dte',
 'expirations',
 'generate_data',
 'grhist',
 'grhist_chart',
 'hist',
 'hist_ce',
 'hist_ce_chart',
 'info',
 'info_chart',
 'last_price',
 'pcr',
 'pcr_chart',
 'process_chains',
 'screen',
 'unu',
 'unu_chart',
 'vsurf',
 'vsurf_chart']

In [4]:
op.expirations('SPY')

['2023-01-26',
 '2023-01-27',
 '2023-01-30',
 '2023-01-31',
 '2023-02-01',
 '2023-02-02',
 '2023-02-03',
 '2023-02-06',
 '2023-02-07',
 '2023-02-08',
 '2023-02-09',
 '2023-02-10',
 '2023-02-17',
 '2023-02-24',
 '2023-03-03',
 '2023-03-10',
 '2023-03-17',
 '2023-03-31',
 '2023-04-21',
 '2023-05-19',
 '2023-06-16',
 '2023-06-30',
 '2023-07-21',
 '2023-09-15',
 '2023-09-29',
 '2023-12-15',
 '2023-12-29',
 '2024-01-19',
 '2024-06-21',
 '2024-12-20',
 '2025-01-17',
 '2025-03-21',
 '2025-12-19']

In [11]:
# Getting the data from : https://ops.syncretism.io/

# List of expiration dates:
# op.expirations('SPY')

op.grhist(symbol='SPY', expiry = '2023-03-17', strike = '400')

,iv,gamma,delta,theta,rho,vega,premium,price
2021-04-01 13:30:00,0.186458,0.004057,0.588470,-0.038992,3.186300,2.001470,42.8139,399.746854
2021-04-01 16:30:00,0.187666,0.004013,0.592031,-0.039245,3.205890,2.001660,43.5720,400.621688
2021-04-01 20:00:00,0.187438,0.004019,0.591980,-0.039208,3.206310,2.001670,43.5194,400.610000
2021-04-06 13:30:00,0.188723,0.003865,0.615530,-0.039728,3.367050,2.001610,47.4390,406.573290
2021-04-06 16:30:00,0.188089,0.003887,0.613832,-0.039605,3.357700,2.001970,47.0335,406.120000
...,...,...,...,...,...,...,...,...
2023-01-25 17:30:00,0.193306,0.013853,0.525739,-0.118158,0.272695,0.589356,11.6004,400.400000
2023-01-25 21:00:00,0.193306,0.013853,0.525739,-0.118158,0.272695,0.589356,11.6004,400.400000
2023-01-26 14:30:00,0.200113,0.013305,0.557319,-0.123159,0.284393,0.581999,13.1541,402.757222
2023-01-26 17:30:00,0.200342,0.013144,0.577209,-0.123066,0.294459,0.578414,14.0106,404.257222
2023-01-26 21:00:00,0.200417,0.013090,0.583743,-0.123035,0.297766,0.577237,14.2919,404.750000

In [12]:
# Store as a Pandas DataFrame

SPY230317C00400000 = op.grhist(symbol='SPY', expiry = '2023-03-17', strike = '400')

In [32]:
# Getting bulk daily closing prices

openbb.economy.index(['SPY230317C00400000','SPY230317P00400000','SPY230616C00400000','SPY230616P00400000'],column='Adj Close')

,SPY230317C00400000,SPY230317P00400000,SPY230616C00400000,SPY230616P00400000
Date,,,,
2021-03-31 00:00:00-04:00,39.080002,NaN,NaN,NaN
2021-04-01 00:00:00-04:00,40.000000,NaN,NaN,NaN
2021-04-05 00:00:00-04:00,42.570000,NaN,NaN,NaN
2021-04-12 00:00:00-04:00,47.090000,NaN,NaN,NaN
2021-04-20 00:00:00-04:00,48.840000,41.369999,NaN,NaN
...,...,...,...,...
2023-01-23 00:00:00-05:00,12.580000,10.220000,22.500000,16.820000
2023-01-24 00:00:00-05:00,12.730000,9.680000,21.860001,16.080000
2023-01-25 00:00:00-05:00,12.320000,9.940000,21.350000,16.219999
2023-01-26 00:00:00-05:00,14.340000,8.130000,24.000000,14.500000
2023-01-27 00:00:00-05:00,15.450000,7.330000,24.660000,13.520000

In [15]:
# Daily historical OHLC+V and OI data from: https://chartexchange.com/

op.hist_ce(symbol = 'SPY', date = '2023-03-17', price = '400')

,Date,Open,High,Low,Close,Change,Volume,Open Interest,Change Since
0,2023-01-26,13.70,14.66,11.85,14.34,0.16396,1668.0,46639.0,0.00000
1,2023-01-25,9.90,12.32,8.95,12.32,-0.03221,4698.0,46403.0,0.16396
2,2023-01-24,11.79,13.00,11.16,12.73,0.01192,4820.0,44904.0,0.12647
3,2023-01-23,10.52,14.08,10.20,12.58,0.23333,14193.0,41800.0,0.13990
4,2023-01-20,7.48,10.31,7.00,10.20,0.42458,7373.0,44469.0,0.40588
...,...,...,...,...,...,...,...,...,...
302,2021-04-01,38.50,40.00,38.50,40.00,0.02354,13.0,0.0,-0.64150
303,2021-03-31,39.08,39.08,39.08,39.08,-0.07656,1.0,0.0,-0.63306
304,2021-03-18,42.32,42.32,42.32,42.32,0.03220,3.0,0.0,-0.66115
305,2021-03-17,41.00,41.00,41.00,41.00,0.00000,2.0,0.0,-0.65024
306,2021-03-16,42.00,42.00,41.00,41.00,0.00000,2.0,0.0,-0.65024